jupyterlab>=4,<5
jupyterlab-git
jupyterlab-lsp
python-lsp-server
python-lsp-ruff
jupyter-archive
ipywidgets
jupyterlab_widgets
jupyter-ai
ruff
jupyter-resource-usage
itables
qiskit
qiskit-aer
qiskit-algorithms==0.4.0
qiskit-ibm-runtime==0.43.1
qiskit-machine-learning
qiskit-nature
qiskit-optimization
